*{
    margin: 0;
    padding: 0;
    div{
        border: 1px solid black;
    }
}
.main{
    max-width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}
.top{
    flex: 1;
    display: flex;
    padding: 60px
}
.l-1{
    flex: 1;
    display: flex;
}
.bottom{
    flex: 4;
    display: flex;
    justify-content: center;
}
.r-1{
    position: fixed;
    flex: 1;
    display: flex;
    height:350px;
    width: 500px;
    flex-direction: column;
    padding: 3px;
    gap: 3px;
}
.top1{
    flex: 1;
    display: flex;
    border-radius: 10px;
    gap: 5px;
}
.left{
    flex: 3;
    display: flex;
      align-items: center;
    justify-content: center;
}
.search{
    height: 40px;
    width: 350px;
    border-radius: 10px;
}
.right{
    flex: 1;
    display: flex;
}
.bottom1{
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 4px;
}
.top2{
    flex: 1;
    display: flex;
    border-radius: 10px;
}
.img{
    width: 100%;
    height: 130px;
    border-radius: 10px;
}
.bottom2{
    flex: 1;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
}
.b1{
    flex: 1;
    display: flex;
    padding: 5px;
}
.b2{
    flex: 1;
    display: flex;
     padding: 5px;
}
.b3{
    flex: 1;
    display: flex;
    gap: 3px;
}
.left2{
    height: 25px;
    width: 70px;
    border: none;
}
.right2{
    height: 25px;
    width: 100px;
    border-radius: 10px;
    color: white;
    background-color: black;
}
.b4{
    flex: 1;
    display: flex;
     padding: 5px;
}
