*{
    div{
        border: 1px solid black;
    }
}
.main{
    max-width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}
.top{
    flex: 1;
    display: flex;
}
.bottom{
    flex: 4;
    display: flex;
}