*{
    margin: 0;
    padding: 0;
    div{
        border: 1px solid black;
    }
}
.main{
    max-width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}
.top{
    flex: 0.5;
    display: flex;
    padding: 60px;

}
.l-1{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: linear-gradient( to right,red,orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bottom{
    flex: 6;
    display: flex;
    justify-content: center;
    background-color: rgb(231, 228, 228);
    
}
.r-1{
    position: fixed;
    flex: 1;
    display: flex;
    height:300px;
    width: 300px;
    flex-direction: column;
    padding: 3px;
    gap: 3px;
    border: none;
}
.top1{
    flex: 1;
    display: flex;
    border-radius: 10px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: none;
}
.left{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.search{
    height: 30px;
    width: 230px;

    border-radius: 10px;
}
.right{
    flex: 1;
    display: flex;
    height: 30px;
    max-width: 80px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(10, 10, 214);
}
.bottom1{
    flex: 3;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    border: none;
}
.top2{
    flex: 1;
    display: flex;
    border-radius: 10px;
}
.img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.bottom2{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;
}
.b1{
    flex: 1;
    display: flex;
    padding: 5px;
    border: none;
}
.b2{
    flex: 1;
    display: flex;
     padding: 5px;
     border: none;
}
.b3{
    flex: 1;
    display: flex;
    gap: 3px;
    border: none;
}
.left2{
    height: 25px;
    width: 70px;
    border: none;
}
.right2{
    height: 25px;
    width: 100px;
    border-radius: 10px;
    color: white;
    background-color: black;
}
.b4{
    flex: 1;
    display: flex;
     padding: 5px;
     border: none;
}
     
